{% if form.referenceableContent is defined %}
    <h3 class="ui top attached header">{{ 'dedi_sylius_seo_plugin.ui.seo'|trans }}</h3>

    <div class="ui segment attached">
        {{ form_row(form.referenceableContent) }}
    </div>
{% endif %}
