name: Semantic Release

on:
    push:
        branches: [ master ]

jobs:
    release:
        runs-on: ubuntu-latest
        steps:
          - name: Checkout
            uses: actions/checkout@v2
          - name: Semantic Release
            uses: cycjimmy/semantic-release-action@v2
            with:
                # You can specify specifying version range for the extra plugins if you prefer.
                extra_plugins: |
                    @semantic-release/changelog
                    @semantic-release/git
            env:
              GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
